@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@import './variables.scss';
@import './mixins.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.negative {
  color: red;
}

.positive {
  color: green;
}

form {
  display: grid;
  grid-template-columns: 100%;
  row-gap: $spacing-md;

  .form__control {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: $spacing-md;
    align-items: center;

    input {
      padding: 0.5em;
      font-family: inherit;
      font-size: inherit;
    }

    &.checkbox {
      > label {
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: $spacing-md;
      }
    }
  }
}

.button {
  align-self: center;
  padding: 0.5em 1em;
  color: $white;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  background-color: $blue;
  border: none;
  border-radius: 10px;
}

.icon {
  width: 100%;
  max-width: 15px;
  fill: $gray-dark;
}

body {
  color: $black;
  font-family: 'Montserrat', sans-serif;
  background-color: $gray-light;

  #__next {
    display: flex;
    justify-content: center;
    padding: $spacing-xl;
    min-height: 100vh;

    .app,
    main {
      display: grid;
      grid-template-columns: 100%;
      row-gap: $spacing-lg;
    }

    .app {
      grid-template-rows: auto 1fr;
      width: clamp(0px, 100%, $mobile);
      border-radius: 10px;

      main {
        align-self: flex-start;

        .nav--gray-dark {
          display: flex;
          justify-content: space-between;
        }

        section {
          @include rows($spacing-lg);

          &.users,
          &.accounts {
            .accounts__summary {
              display: grid;
              grid-template-columns: 100%;
              row-gap: $spacing-sm;

              > div {
                display: grid;
                grid-template-columns: 1fr auto;
              }
            }

            > ul {
              border-top: 1px solid $gray-light;
              border-bottom: 1px solid $gray-light;

              > li {
                display: grid;
                grid-template-columns: 1fr auto;
                column-gap: $spacing-md;
                align-items: center;
                padding: $spacing-md 0;

                &:not(:last-child) {
                  border-bottom: 1px solid $gray-light;
                }

                .list__item__text,
                .list__item__buttons {
                  display: grid;
                  grid-template-columns: 100%;
                }

                .list__item__text {
                  row-gap: $spacing-sm;

                  > a {
                    font-weight: 700;
                  }

                  > form {
                    display: block;
                  }

                  .split {
                    color: blue;
                  }
                }

                .list__item__buttons {
                  row-gap: $spacing-md;
                }
              }
            }
          }

          .delete__buttons {
            display: grid;
            grid-template-columns: 100%;
            row-gap: $spacing-md;
          }
        }
      }
    }
  }
}

.transactions {
  > ul {
    @include rows($spacing-lg);

    > li {
      @include rows($spacing-md);

      .transactions__date {
        padding: 0 20px;
      }

      > ul {
        @include rows($spacing-xs);
      }
    }
  }
}

// Components ————————————————————
.block {
  column-gap: $spacing-xl;
  padding: 10px 20px;
  background-color: $white;

  &.summary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    border-radius: 5px;

    .summary__balance {
      @include rows($spacing-sm);

      .summary__balance__amount {
        font-size: 22px;
      }

      .summary__balance__label {
        color: $gray-dark;
        font-size: 10px;
      }
    }
  }
}

@import './transaction.scss';
