* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  width: 85%;

  h1 {
    grid-column: 1 / -1;
  }
}

li.selected {
  text-decoration: underline;
}
